@import "../../styles/variables";

.attach-receipt-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4.599999904632568px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: env(safe-area-inset-bottom);
}

.attach-receipt-modal__container {
  background: $color-white;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-width: 480px;
  padding: 20px 20px 60px;
  position: relative;
  animation: slideUp 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attach-receipt-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
}

.attach-receipt-modal__title {
  font-size: 36px;
  font-family: $font-racama;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.attach-receipt-modal__label {
  font-size: 14px;
  color: $color-label;
  margin-bottom: 6px;
  display: block;
}

.attach-receipt-modal__upload {
  border: 1px dashed #4F4F4F;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: $color-label;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  width: 75vw;

  svg, img {
    margin-bottom: 8px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
