.add-card-button {
    width: 34.5px;
    height: 34.5px;
    border-radius: 50%;
    background-color: $color-accent; 
    border: 1px solid $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        outline: none;
        border-color: $color-accent;
    }
}