.exit-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4.599999904632568px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: env(safe-area-inset-bottom); // для iPhone
}

.exit-modal-container {
    background: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-width: 480px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px 20px 61px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.05);
    animation: slideUp 0.3s ease;
    & h2 {
        text-align: center;
    }
    .exit-modal__header {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        margin-bottom: 40px;

        h1 {
            font-family: $font-racama;
            font-size: 36px;
            font-weight: 400;
            font-style: normal;
            line-height: 100%;
            margin-top: 40px;
        }

        .exit-modal__close {
            position: absolute;
            right: 20px;
            background: none;
            border: none;
        }
        
    }
}

.exit-modal__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;


  :first-child {
    background-color: $color-white;
    border: 1px solid #1E1E1E;
    border-radius: 10px
  }
  }


@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}