@import "./variables.scss";

@font-face {
    font-family: 'Racama';
    src: url('../../public/fonts/Racama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: $font-main;
    background-color: $color-bg;
    color: $color-black;
}