@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-gilroy;
    background-color: $color-white;
    color: $color-black;
}

@font-face {
    font-family: 'Racama';
    src: url('../../public/fonts/Racama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
  