// Основные Цвета 

$color-accent: #b9fe66;
$color-dark: #1e1e1e;
$color-black: #000;
$color-white: #fff;
$color-bg: #F6F6F6;
$color-text: #A6A6A6;

// радиус

$radius-lg: 15px;

// шрифты 
$font-gilroy: 'Gilroy', sans-serif;
$font-main: 'Montserrat', sans-serif;

