.goal-item {
    display: flex;
    align-items: center;
    padding: 20px 0px 10px;
    background-color: $color-white;
    
    
    .icon-circle {
        width: 58px;
        height: 58px;
        border: 1px solid $color-black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .goal-info {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        

        .goal-title {
            font-size: 21px;
            font-weight: 400;
            font-family: "Racama";
        }

        .goal-subtitle {
            font-size: 16px;
            color: $color-black;
        }
    }

    .goal-percent {
        font-size: 24px;
        font-weight: 400;
        font-family: "Racama";
        margin-left: auto;
    }
}