.qr-screen {
  background-color: #343434;
  color: $color-white;
  height: 100vh;
  padding: 32px 20px 80px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.qr-back {
  position: absolute;
  top: 56px;
  left: 13px;
  background-color: $color-accent;
  border: none;
  border-radius: 50%;
  padding: 11px;
  font-size: 20px;
  cursor: pointer;
}

.qr-reader-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

.qr-title {
  font-size: 36px;
  font-family: $font-racama;
  font-style: normal;
  color: $color-white;
  font-weight: 400;
  line-height: 114.208%;
  letter-spacing: -0.25px;
  margin-top: 176px;
  margin-bottom: 24px;
}

.qr-reader {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  //border: 2px dashed #aaa;
  border-radius: 12px;
  overflow: hidden;
}
.qr-frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
