.bottom-nav {
    position: fixed;
    bottom: 2%;
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    z-index: 50;
    border-radius: 100px;
    margin-bottom: 20px;
    border: 1px solid $color-black;
    gap: 25px;
    height: fit-content;
    left: 15%;
    //transform: translateX(-50%);
    padding: 3px;
    width: 263px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.nav-button.active {
    border: 1px solid $color-black;
    background-color: $color-accent;
}